{% extends 'base.html' %}

{% block content %}
    <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %}A Restaurant</h1>
    {% if form.instance.pk %}<form method="post" action="{% url 'restaurant:restaurant_edit' pk=restaurant.pk %}" hx-include="#restaurant-form-container">
    {% else%}<form hx-post="{% url 'restaurant:restaurant_create' %}" hx-include="#restaurant-form-container">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

{% endblock %}