{% extends 'base.html' %}

{% block content %}
    <h1>Restaurant List</h1>
    
    <ul>
        {% for restaurant in restaurants %}
            <li>
                <span hx-get="{% url 'restaurant:restaurant_edit' pk=restaurant.pk %}" hx-trigger="click">Edit</span>
                <span hx-get="{% url 'restaurant:restaurant_delete' pk=restaurant.pk %}" hx-trigger="click">Delete</span>
                {{ restaurant.name }} - {{ restaurant.address }} - {{ restaurant.phone_number }}
            </li>
        {% endfor %}
    </ul>

    <div hx-target="#restaurant-form-container">
        <a hx-get="{% url 'restaurant:restaurant_create' %}" hx-trigger="click">Add a Restaurant</a>
    </div>

    <div id="restaurant-form-container"></div>
{% endblock %}